*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
  gap: 36px;
  margin-top: 16px;
}

.search-form__fieldset-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px; /* Задайте нужный вам размер отступа */
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px; /* Отступ между чекбоксом и подписью */
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #808080; /* Пример цвета */
  font-weight: bold;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 340px; /* Задайте нужную высоту */
  overflow-y: auto;
}

.result__video-container {
  position: relative;
  width: 100%; /* Ширина контейнера */
  height: 386px; /* Высота контейнера, задайте нужную вам */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Чтобы видео занимало всю ширину и высоту и не выходило за пределы */
  object-position: center;
}

.content__list {
  width: 399px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 26px;
}

.content__video-card {
  width: 390px;
  height: 103px;
  display: flex;
  justify-content: space-between;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #808080; /* Пример цвета */
}

.content__card-link:active {
  background-color: #444; /* Цвет активной карточки */
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none; /* Сброс стандартной обводки */
}

.content__card-link:focus-visible {
  outline: 2px solid #fff; /* Обводка при фокусе */
}

.content__list-item {
  padding: 0 3px; /* Отступы слева и справа */
}

.content__video-card-title {
  /* Усечение текста при переполнении */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-weight: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
}

.content__video-card-thumbnail {
  height: 103px; /* Задайте нужную вам высоту */
  min-width: 194px; /* Задайте нужную вам минимальную ширину */
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Задайте нужное значение line-height */
}

.content__video-card-description-container {
  flex-grow: 1;
}

.button {
  border: 1px solid #fff; /* Пример границы */
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  padding: 6px 75.3px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.search-form__submit-button {
  align-self: flex-end; /* Положение в конце контейнера по вертикальной оси */
  width: auto; /* Размер по содержимому */
}

.more-button {
  width: 100%; /* Растягивается на всю ширину контейнера */
}

.button:hover {
  text-decoration: underline; /* Подчёркивание текста при наведении */
}

.button:active {
  background-color: #808080; /* Цвет активной кнопки */
}

.button:focus {
  outline: none; /* Сброс стандартной обводки */
}

.button:focus-visible {
  outline: 2px solid #fff; /* Обводка при фокусе */
}

.more-button {
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  cursor: pointer;
  margin-top: 20px;
}

.more-button:hover {
  text-decoration: underline; /* Подчёркивание текста при наведении */
}

.more-button:active {
  background-color: #808080; /* Цвет активной кнопки */
}

.more-button:focus {
  outline: none; /* Сброс стандартной обводки */
}

.more-button:focus-visible {
  outline: 2px dashed #fff; /* Обводка при фокусе */
}
